<main class="container pt-5">
  <h2>Ng Content <small class="text-muted">:: Angular</small></h2>
  <hr>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <app-user-card>
      <h5 class="card-title">Valp Pinedo</h5>
      <p class="card-text phone m-0">555 458 8899</p>
    </app-user-card>

    <app-user-card>
      <h5 class="card-title">John Doe</h5>
      <p class="card-text phone m-0">555 458 8899</p>
    </app-user-card>

    <app-user-card>
      <h5 class="card-title">Allison Becker</h5>
      <p class="card-text phone m-0">555 458 8899</p>
    </app-user-card>

    <app-user-card>
      <h5 class="card-title">Jack Sparrow</h5>
      <p class="card-text phone m-0">555 458 8899</p>
    </app-user-card>
  </div>
</main>